/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-kn-project-list {
	padding: 10px;
	display: flex;
	flex-wrap: wrap;

	.project-link{
		text-decoration: none;

		.project-card{
			transform: scale(1);
			transition: transform 0.3s ease;
		}
	}

	.project-link:hover{
		.project-card{
			transform: scale(1.05);
			transition: transform 0.3s ease;
		}
	}

	.project-card{
		background-color: white;
		border-radius: 20px;
		padding: 10px;
		box-shadow: 4px 4px 10px rgb(0 0 0 / 25%);
		margin: 0 10px;

		.project-card-inner{

			.project-card-img{
				border-radius: 20px;
				width: 280px;
				height: 140px;
			}

			.project-card-info{
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: 0 10px;

				.project-title{

				}

				.project-description{

				}

				.project-card-arrow{
					width: 0;
					height: 0;
					border-top: 18px solid transparent;
					border-left: 16px solid #BA5624;
					border-bottom: 18px solid transparent;
				}

			}

		}


	}

}
